<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/layout.css" />
<meta charset="ISO-8859-1">
<title>About Us</title>
</head>
<body>
	<div class="background" data-role="page" id="page-1">
		<div data-role="header" class="header">
			<div class="ui-body-b ui-body">
				<div data-role="navbar" id="navbar-1" data-iconpos="top">
					<h1><img class="icon" alt="icon" src="/img/EgerChat.png"/>EgerChat</h1>
					<ul>
						<li><a href="/home" data-icon="home">Home</a></li>
						<li><a href="/chatslist" data-icon="mail">Chats (0)</a></li>
						<li><a href="/profile" data-icon="user">Profile</a></li>
						<li><a class="ui-btn-active" href="/aboutus" data-icon="info">About
								Us</a></li>
						<li><a href="/" data-icon="lock">Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="content" id="center">
			<div data-role="content" id="center">
				<h1>Egerchat by Pheene</h1>
				<img style="width: 400px; height: 300px; align-content: center;"
					alt="mypic" src="/img/blue.jpg">
				<p>My name is Chrisphine Otieno and I am the owner of this
					website.</p>
				<p>The web site is purposed to be an interaction forum for
					people from all over the world.</p>
				<p>Contact Us</p>
				<p>+254757255710</p>
				<p>Share the web site with friends.</p>
				<div>
					<img alt="fb" src="/img/iconfinder_facebook_410527.png" /> <img
						alt="gmail"
						src="/img/iconfinder_logo_brand_brands_logos_gmail_2993691.png" />
				</div>
			</div>
		</div>

		<div class="footer">
			<p>
				Designed by Pheene<sup><small>TM</small></sup>
			</p>
		</div>

	</div>

</body>
</html>