<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/layout.css" />
<meta charset="ISO-8859-1">
<title>User Name</title>
</head>
<body>
	<div class="backgroundfull" data-role="page" id="page-1">
		<form class="signup" name="un" id="form-4"
			action="sq">
			<h1>Confirm Username</h1>
			<hr>
			<label for="un">User Name</label>
			<input name="un" id="un" data-clear-btn="true" data-mini="true" value="" placeholder="User Name" maxlength="20" required="true" type="text"/>
			<div class="ui-input-btn ui-btn ui-mini ui-corner-all ui-btn-b">
				Submit <input data-enhanced="true" type="submit" value="Submit"
					id="submit" />
			</div>

		</form>

		<div class="footer">
			<p>
				Designed by Pheene<sup><small>TM</small></sup>
			</p>
		</div>
	</div>
</body>
</html>